<div class="jumbotron center">
	<h1>welcome to my app</h1>
	<p>click here to <%= link_to "log in", "#", class: "btn btn-default" %>.</p>
	<p>click here to <%= link_to "sign up", "#", class: "btn btn-success" %>.</p>
</div>